.app-loader {
    width: 100%;
    height: 100vh;
    background: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    .spinner-border {
        color: var(--couleur-orange-mg);
        margin-top: 20px;
    }
}

@keyframes loader-end-animation {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: -100vh;
    }
}